{% extends 'message/base.html' %}

{% block content %}
<main class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">Управление клиентами</h1>
    <p class="lead">Вы можете добавлять, просматривать, редактировать и удалять получателей рассылки (клиентов)</p>
    <div class="container">
    {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="btn btn-dark" href="{% url 'message:client_create' %}" role="button">Создать получателя</a>
      </li>
    {% endif %}
    </div>
    <div class="row mb-2">
    <div class="col-md-12">
      {% for client in object_list %}
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">Электронная почта: {{client.email}}</strong>
          <strong class="d-inline-block mb-2 text-primary-emphasis">ФИО: {{client.name}}</strong>
          <strong class="d-inline-block mb-2 text-primary-emphasis">Комментарии: {{client.comment}}</strong>
        </div>
        <div class="row mb-2">
        {% if user.is_authenticated%}
          <div class="col-md-12">
            <a class="btn btn-dark" href="{% url 'message:client_detail' client.pk %}" role="button">Посмотреть</a>
            {% if perms.message.can_unblocking_client and  perms.message.can_disabling_mailings or message.owner == object.user.email %}
              <a class="btn btn-dark" href="{% url 'message:client_update' client.pk %}" role="button">Редактировать</a>
            {% endif %}
            {% if perms.message.delete_client or client.owner == object.user.email %}
              <a class="btn btn-dark" href="{% url 'message:client_delete' client.pk %}" role="button">Удалить</a>
            {% endif %}
          </div>
        {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    </div>
  </div>
</main>
{% endblock %}